@charset "UTF-8";
@import url("reset.css");
/* ////////////////////////////////////////////////////// */
#header>.wrap{
	height: 80px;
}
#logo>.wrap a{
	font-size: 32px;
	font-weight: bold;
	color: #c50aac;
}
#menu>.wrap ul li a{
	padding: 0.5em 1em;
}
#user-menu>.wrap{
	height: 100%;
}
#user-menu>.wrap ul{
	width: 120px;
}

