@charset "UTF-8";
@import url("reset.css");
input{
	border: 1px solid #dadada;
}
.view-size{
	width: 458px;
}

header>.wrap{
	text-align: center;
}
header>.wrap>a{
	display: inline-block;
	margin-top:108px;
	width: 136px;
	height: 26px;
	background-image: url("../images/naver_logos.png");
	background-repeat: no-repeat;
	background-position-x: -315px;
	background-position-y: -104px;
}

main>.wrap{
	margin-top: 48px;
}

main>.wrap form{
	padding: 20px 28px;
	border: 1px solid #a9a9a9;
	border-radius: 5px;
}
/* main>.wrap form div input:not([type=checkbox],[type=radio]) */ 
main>.wrap form div>input{
	width:100%;
	padding: 14px 17px 13px;
}
main>.wrap form div input[type=text]{
	border-bottom: none;
	border-radius: 5px 5px 0 0;
}
main>.wrap form div input[type=password]{
	border-radius: 0 0 5px 5px;
}
#cb{
	display: none;
}
main>.wrap form div>span{
	color: #777;
	font-size: 14px;
}
#cb+label::before{
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background-image: url("../images/circle-check-regular.svg");
	background-size: contain;
	background-repeat: no-repeat;
	
}
main>.wrap>ul li{
	border-right: 1px solid #a9a9a9;
}
main>.wrap>ul li:nth-of-type(3){
	border-right: none;
}
main>.wrap>ul li a{
	padding: 0 10px;
}


